:root {
    --marquee-duration: 2s; /* Adjust speed here */
}

body {
    margin: 0;
    overflow: hidden;
}

.box {
    border: 3px solid pink;
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
    overflow: hidden;
}

.marquee-container {
    display: flex;
    animation: marquee-animation var(--marquee-duration) linear infinite;
    will-change: transform;
    width: 100%;
    max-width: 1856px;
    transform: translateZ(0); /* Force GPU acceleration */
}

.marquee-wrapper {
    width: 928px;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.marquee-wrapper img {
    width: auto;
    height: 35px;
    margin-right: 15px; /* Adds space between images */
}

/* Keyframes for marquee animation */
@keyframes marquee-animation {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-928px);
    }
}
