body {
    margin: 0;
    overflow: hidden;
}

.box {
    border: 3px solid pink;
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
    overflow: hidden;
}

.marquee-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 35px;
    position: relative;
}

.marquee-wrapper {
    display: flex;
    white-space: nowrap;
    will-change: transform;
}

.marquee-wrapper img {
    width: auto;
    height: 35px;
    margin-right: 15px; /* Adds space between images */
}
